/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-seri */
:root {
  --primary-color: #541690;
}
h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: "Poppins", sans-seri;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-seri;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.content-container {
  padding: 160px 0;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}
.content h3 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  list-style: 27px;
  padding: 15px 30px;
}
.btn-projects {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  list-style: 27px;
  padding: 15px 30px;
  color: var(--primary-color);
}
.project-description {
  padding: 120px 60px 0;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
