/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-seri */
:root {
  --primary-color: #6c63ff;
}
h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
p {
  font-family: "Poppins", sans-seri;
  font-weight: normal;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-seri;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  list-style: 27px;
  padding: 15px 30px;
}
